.container {
  display: flex;
  /* justify-content: space-between;  */
}

.dropMenu {
  min-width: 20%;
}

.searchBox {
  flex-grow: 1;
  max-width: 70%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
}
