.imageContainer {
  text-align: center;
  margin-top: 0.5rem;
  background-color: #e6f2ff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageTitle {
  color: black;
}

.previewContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.playBtn {
    border-radius: 8px;
    background-color: #e6f2ff;
    color: black;
    font-size: 40px;
    height: 60px;
}