.paginationContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0; /* Thêm padding để cách lề */
  background-color: #e6f2ff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng phía trên (tùy chọn) */
}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.imageContainer {
  height: 40rem;
}
